# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Numpy
*.npy
*.npz

# Model / trained weights
trained/
*.pt
*.pth
*.ckpt

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Logs
logs/
*.log

# Temporary
tmp/
temp/

# Dataset
data/

# Python env
venv/
.env